.google-map-root > div > div > div:last-of-type {
  display: none;
}

.google-map-root img[alt='Google'] {
  display: none;
}

.vehicle-marker-label {
  background: #bababa;
  padding: 1px 4px;
  border-radius: 5px;
}

.trip-stop-marker-label {
  background-color: #333;
  padding: 1px 4px;
  border-radius: 5px;
}
